*.[oa]
*.*
*.sln
*.vcxproj
.vs
build
build32
buildvs
TempRsrv
TempRsrv2
Release
!*.c
!*.cpp
!*.h
!*.json
!*.gitignore
!*.txt
!*.md
!*.cmake
!*.ioc
!*.ld
!*.s
!Debug/*.exe
!Release/*.exe
!Makefile
!makefile
!*.mk
!*.map
!*.init
!*.defs
!*.cfg
!*.launch
!*.png
!*.jpg
!*.ftl
f